@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.text-animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

span {
  /* font-family: "Inter", sans-serif; */
  /*   font-family: "Hepta Slab"; */
  font-family: "Geist", sans-serif;
  font-size: 5em;
  animation: 3s infinite variation;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: font-weight;
}

/* @keyframes variation {
    0% { font-weight: 1; }
    50% { font-weight: 900; }
    100% { font-weight: 1; }
} */

/* @keyframes variation {
    0% { font-weight: 100; }
    50% { font-weight: 900; }
    100% { font-weight: 100; }

} */

@keyframes variation {
  0% {
    font-variation-settings: "wght" 100;
  }
  50% {
    font-variation-settings: "wght" 900;
  }
  100% {
    font-variation-settings: "wght" 100;
  }
}
